{% load templatetags %}

<div class="solid">
  <div style="display: flex;">
    <div class="text2">Комментарии </div>
    <div id="post{{ post.id }}commentcount" class="text2" id="post{{ post.id }}commentcount">{{ post.comments.comments.count }}</div>   
  </div>
  <div style="display: flex;">
    <div id="post{{ post.id }}helper" class="comment-helper" onclick="showcomments('{{ post.id }}')">
      <i id="post{{ post.id }}icon-helper" class="material-icons icon-comment-helper">keyboard_arrow_down</i>
    </div>
    <div id="post{{ post.id }}comments" style="width: calc(100% - 25px);">
      <hr>                    
      {% for comment in post.comments.comments|parent_comments %}
        <div id="comment{{ comment.id }}">  
          {% if comment.is_deleted %}  
            <div class="text2 solid">Комментарий удален</div>
          {% else %}                       
            <div style="display: flex;">
              <img class="comment-img" src="/media/{{ comment.author.profile.avatar }}" alt="">  
              <div style="width: calc(100% - 50px);">                                
                <div class="inline-wrapper" style="margin-bottom: -15px;">
                  <div class="inline-wrapper">   
                    <div class="text3"><a class="link1" href="{% url 'UserProfile:userprofile' comment.author %}">{{ comment.author.username }}</a></div>
                    {% if request.user.is_authenticated %}                 
                      <i class="material-icons mirrorX icon3 pointer grey-color" onclick="answercomment('{{ comment.id }}', '{{ post.id }}', '{{ comment.author }}')" title="ответить">reply</i>
                    {% endif %}  
                  </div>
                  <div class="inline-wrapper">
                    {% if request.user.is_authenticated %} 
                      {% if request.user == comment.author %}
                        <i class="material-icons icon3 pointer grey-color" onclick="showeditcomment('{{ comment.id }}', '{{ post.id }}')">edit</i>
                        <i class="material-icons icon3 pointer grey-color" onclick="deletecomment('{{ comment.id }}', '{{ post.id }}')">delete</i>
                      {% endif %}
                    {% endif %}                                     
                    <div class="text3" style="white-space: pre;">{{ comment.pubdate }}</div> 
                  </div>
                </div> 
                <div class="inline-wrapper">
                  <div id="comment{{ comment.id }}text" class="text2" style="width: calc(100% - 100px); word-wrap:break-word;">{{ comment.text }}</div>
                  <div style="display: flex; text-align: center; margin-top: 10px; margin-bottom: -10px;">
                    <div style="display: flex; height: 30px;">
                      <div class="text3" id="plus_c{{comment.id}}" style="margin-top: -4px; margin-right: 6px;">{{ comment.pluses.count }}</div>
                      {% if request.user.is_authenticated %}
                        {% can_plus_comment comment request.user as can_plus_val %}
                        {% if not can_plus_val %}
                          <i class="material-icons icon3 grey-color-1" style="margin-right: 5px; margin-top: -1px;" title="Вы не можете оценивать собственный комментарий">thumb_up</i> 
                          <i class="material-icons icon3 grey-color-1" style="margin-top: -2px;" title="Вы не можете оценивать собственный комментарий">thumb_down</i>
                        {% else %}                          
                          {% if request.user in comment.pluses.all %}
                            <i class="material-icons icon3 pointer green-color" id="plusicon_c{{comment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ comment.id }}', 'remove_plus')">thumb_up</i> 
                            <i class="material-icons icon3 pointer grey-color" id="minusicon_c{{comment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ comment.id }}', 'minusminus')">thumb_down</i> 
                          {% elif request.user in comment.minuses.all %}
                            <i class="material-icons icon3 pointer  grey-color" id="plusicon_c{{comment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ comment.id }}', 'plusplus')">thumb_up</i> 
                            <i class="material-icons icon3 pointer red-color" id="minusicon_c{{comment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ comment.id }}', 'remove_minus')">thumb_down</i> 
                          {% else %}
                            <i class="material-icons icon3 pointer grey-color" id="plusicon_c{{comment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ comment.id }}', 'plus')">thumb_up</i> 
                            <i class="material-icons icon3 pointer grey-color" id="minusicon_c{{comment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ comment.id }}', 'minus')">thumb_down</i> 
                          {% endif %}  
                        {% endif %}                        
                      {% else %}
                          <i class="material-icons icon3 grey-color-1" style="margin-right: 5px; margin-top: -1px;">thumb_up</i> 
                          <i class="material-icons icon3 grey-color-1" style="margin-top: -2px;">thumb_down</i> 
                      {% endif %}  
                      <div class="text3" id="minus_c{{comment.id}}" style="margin-top: -4px; margin-left: 6px;">{{ comment.minuses.count }}</div>
                    </div>   
                  </div>                           
                </div>
              </div>                  
            </div> 
          {% endif %}
          <hr>
        </div>  
        <div id="comment{{ comment.id }}children" style="margin-left: 40px;">
          {% for childcomment in comment.childrencomments.all %}
            <div id="comment{{ childcomment.id }}">                           
              <div style="display: flex;">
                <img class="comment-img" src="/media/{{ childcomment.author.profile.avatar }}" alt="">  
                <div style="width: calc(100% - 50px);">                                
                  <div class="inline-wrapper" style="margin-bottom: -15px;">
                    <div class="inline-wrapper">     
                      <div class="text3"><a class="link1" href="{% url 'UserProfile:userprofile' childcomment.author %}">{{ childcomment.author.username }}</a> ответил <a class="link1" href="{% url 'UserProfile:userprofile' childcomment.replyto %}">{{ childcomment.replyto.username }}</a></div>   
                      {% if request.user.is_authenticated %}
                        <i class="material-icons mirrorX icon3 pointer grey-color" onclick="answercomment('{{ comment.id }}', '{{ post.id }}', '{{ comment.author }}')" title="ответить">reply</i>                          
                      {% endif %} 
                    </div>  
                    <div class="inline-wrapper">
                      {% if request.user.is_authenticated %} 
                        {% if request.user == childcomment.author %}
                          <i class="material-icons icon3 pointer grey-color" onclick="showeditcomment('{{ childcomment.id }}', '{{ post.id }}')">edit</i>
                          <i class="material-icons icon3 pointer grey-color" onclick="deletecomment('{{ childcomment.id }}', '{{ post.id }}')">delete</i>
                        {% endif %}
                      {% endif %}         
                      <div class="text3" style="white-space: pre;">{{ childcomment.pubdate }}</div>
                    </div>
                  </div> 
                  <div class="inline-wrapper">
                    <div id="comment{{ childcomment.id }}text" class="text2" style="width: calc(100% - 100px); word-wrap: break-word;">{{ childcomment.text }}</div>
                    <div style="display: flex; text-align: center; margin-top: 10px; margin-bottom: -10px;">
                      <div style="display: flex; height: 30px;">
                        <div class="text3" id="plus_c{{childcomment.id}}" style="margin-top: -4px; margin-right: 6px;">{{ childcomment.pluses.count }}</div>
                        {% if request.user.is_authenticated %}
                          {% can_plus_comment childcomment request.user as can_plus_val %}
                          {% if not can_plus_val %}
                            <i class="material-icons icon3 grey-color-1" style="margin-right: 5px; margin-top: -1px;" title="Вы не можете оценивать собственный комментарий">thumb_up</i> 
                            <i class="material-icons icon3 grey-color-1" style="margin-top: -2px;" title="Вы не можете оценивать собственный комментарий">thumb_down</i>
                          {% else %}                          
                            {% if request.user in childcomment.pluses.all %}
                              <i class="material-icons icon3 pointer green-color" id="plusicon_c{{childcomment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ childcomment.id }}', 'remove_plus')">thumb_up</i> 
                              <i class="material-icons icon3 pointer grey-color" id="minusicon_c{{childcomment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ childcomment.id }}', 'minusminus')">thumb_down</i> 
                            {% elif request.user in childcomment.minuses.all %}
                              <i class="material-icons icon3 pointer  grey-color" id="plusicon_c{{childcomment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ childcomment.id }}', 'plusplus')">thumb_up</i> 
                              <i class="material-icons icon3 pointer red-color" id="minusicon_c{{childcomment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ childcomment.id }}', 'remove_minus')">thumb_down</i> 
                            {% else %}
                              <i class="material-icons icon3 pointer grey-color" id="plusicon_c{{childcomment.id}}" style="margin-right: 5px; margin-top: -1px;" onclick="plus_minus_c('{{ childcomment.id }}', 'plus')">thumb_up</i> 
                              <i class="material-icons icon3 pointer grey-color" id="minusicon_c{{childcomment.id}}" style="margin-top: -2px;" onclick="plus_minus_c('{{ childcomment.id }}', 'minus')">thumb_down</i> 
                            {% endif %}  
                          {% endif %}                        
                        {% else %}
                            <i class="material-icons icon3 grey-color-1" style="margin-right: 5px; margin-top: -1px;">thumb_up</i> 
                            <i class="material-icons icon3 grey-color-1" style="margin-top: -2px;">thumb_down</i> 
                        {% endif %}  
                        <div class="text3" id="minus_c{{childcomment.id}}" style="margin-top: -4px; margin-left: 6px;">{{ childcomment.minuses.count }}</div>
                      </div>   
                    </div>                     
                  </div>
                </div>                  
              </div> 
              <hr>
            </div> 
            <div id="comment{{ childcomment.id }}children" style="margin-left: 40px;"></div>                          
          {% endfor %} 
        </div>
      {% endfor %}                         
    </div>
    <script>
      $('#post{{ post.id }}comments').children().slice(2).hide()
    </script>  
  </div>                    
  <div class="inline-wrapper">
    {% can_comment post request.user as can_comment_val %}
    {% if can_comment_val %}
      <img class="small-img" src="/media/{{ request.user.profile.avatar }}" alt="" onError="this.remove()"> 
      <div style="width: 100%;">
        <div id="post{{ post.id }}inputgroup" class="mb-1">
          <textarea class="textarea2 form-control" maxlength="750" answering='' editing='' id="comment{{ post.id }}input" style="height: 30px;" oninput="auto_grow(this); update_symbols('post{{ post.id }}commentssymbols', 'comment{{ post.id }}input', 750)" onclick="auto_grow(this)" placeholder="Оставить комментарий..."></textarea>
          <div class="input-group-append hidden" id="post{{ post.id }}inputgroupappend">
            <button class="btn btn-outline-secondary" type="button" onclick="closecomment('{{ post.id }}')">
              <svg width="1em" height="1em" viewBox="3 4 10 10" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
            </button>
          </div>
        </div>
        <div class="inline-wrapper-2">
          <div id="comment{{ post.id }}answertext" class="text3 inline-item hidden"></div>
          <div class="text3 inline-item" id="post{{ post.id }}commentssymbols">Еще символов: 750</div>  
        </div>                            
      </div> 
      <div id="comment{{ post.id }}buttonsend" class="button0" style="width: 100px; margin-left: 10px;" onclick="createcomment('{{ post.id }}')">Отправить</div>
      <div id="comment{{ post.id }}buttonedit" class="button0 hidden" style="width: 100px; margin-left: 10px;" onclick="editcomment('{{ post.id }}')">Сохранить</div>
    {% elif not request.user.is_authenticated %}
      <div class="text2 solid">Авторизуйтесь, чтобы написать комментарий</div>
      <a class="button0" style="width: 100px; margin-left: 10px;" href="/auth/login">Войти</a>
    {% else %}
      <div class="text2 solid">Вы не можете комментировать этот пост</div>
    {% endif %}
  </div>
</div>