{% extends "base_general.html" %}
{% block title %} Регистрация {% endblock %}
{% block title_h1 %} Регистрация в системе {% endblock %}
{% block content %}
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5">
    <div class="card-body">
      <h5 class="card-title text-center">Регистрация</h5>

      <form class="form-signin" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-label-group">
          <label for="inputLogin">Логин</label>
          {{ form.login }}
          {% if form.login.errors %}
            <div class="alert alert-danger my-3">
              {{ form.login.errors | first }}
            </div>
          {% endif %}
        </div>
        <div class="form-label-group">
          <label for="inputEmail">Почта</label>
          {{ form.email }}
          {% if form.email.errors %}
            <div class="alert alert-danger my-3">
              {{ form.email.errors | first }}
            </div>
          {% endif %}
        </div>
        <div class="form-label-group">
          <label for="inputPassword">Пароль</label>
          {{ form.password }}
          {% if form.confirmpass.errors %}
            <div class="alert alert-danger my-3">
              {{ form.confirmpass.errors | first }}
            </div>
          {% endif %}
        </div>
        <div class="form-label-group">
          <label for="inputEmail">Подтверждение пароля</label>
          {{ form.confirmpass }}
        </div>
        <hr>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
