{% extends "communities/community_template.html" %}

{% block main %}
  {% load templatetags %}

  <script>
    $('#to_main').addClass('button0-active')
  </script>

  <div class="content_block" style="display: block;">
    {% if request.user.is_authenticated %}
      {% if request.user in group.editors.all or request.user == group.admin or group.allowarticles != 3 and request.user in group.subscribers.all %}
        <form id="postform" enctype='multipart/form-data' action="{% url 'news_feed:manage_articles' %}" method='POST'>
          {% csrf_token %}
          <input type="text" name="action" value="create_community_article" class="hidden-input">
          <input type="text" name="groupid" value="{{ group.id }}" class="hidden-input">
          <div class="inline-wrapper">            
            <div id="postplate" class="plate" style="width: 100%;">
              <textarea id="postarea" class="textarea1" name="text" oninput="auto_grow(this)" onclick="showcreate()" style="border: none; height: 28px; min-height: 28px;" placeholder="Новая запись..."></textarea>
              <div id="postadditions" style="display: none;">
                <div id="postaddition1" style="flex-wrap: wrap; display: flex;"></div>
                <div id="postaddition2" style="display: flex; flex-wrap: wrap;"></div>
              </div>
            </div>
            <div id="postoptions" class="plate" style="width: calc(25% - 5px); height: 115px; text-align: center; display: none;">
              <input id="postfileinput" name="files" type="file" multiple class="hidden-input">
              <input id="postfileinput2" onchange="readfile(this)" type="file" class="hidden-input">
              <div class="">
                <div class="text2-1" style="margin: auto;">{% if request.user in group.subscribers.all %}Предложить пост{% else %}Создать пост{% endif %}</div>
              </div>    
              <hr>
              <div class="inline-wrapper" style="margin-left: 5px; margin-top: -5px;">
                <div class="inline-wrapper">
                  <input type="checkbox" style="margin-top: 8px; height: 20px;" name="personal" checked>
                  <div class="text3">Указать себя</div>
                </div>
                <div class="inline-wrapper">
                  <input type="checkbox" style="margin-top: 8px; height: 20px;" name="allow_comments" checked>
                  <div class="text3">Комментарии</div>
                </div>
              </div>
              <div class="inline-wrapper">
                 <div class="button3 green" style="width: 100%;" onclick="createpost('{% if request.user in group.subscribers.all and group.allowarticles == 2 %}Запись будет отправлена редакторам.{% else %}Запись опубликуется сейчас.{% endif %}')">
                  {% if request.user in group.subscribers.all and group.allowarticles == 2 %}Предложить{% else %}Опубликовать{% endif %}
                </div>
                <i id="postfilebutton" class="material-icons icon-button3 yellow" onclick="document.getElementById('postfileinput2').click()">attach_file</i>
                <i class="material-icons icon-button3 red" onclick="showcreate()" title="Отмена">close</i>
              </div>
            </div>
          </div>
        </form>          
        <br>
      {% endif %}
    {% endif %}

    {% if request.user == group.admin or request.user in group.editors.all %} 
      <div class="inline-wrapper plate solid" style="width: calc(75% - 5px);">
        <div id="articles_button_1" class="button0 button0-active" onclick="showarticles(1)">Опубликованные посты</div>
        <div id="articles_button_2" class="button0" onclick="showarticles(2)">Предложенные посты {{ request_articles|length }}</div>  
        {% if author_request_articles %}
          <div id="articles_button_3" class="button0" onclick="showarticles(3)">Ваши предложенные посты {{ author_request_articles|length }}</div>   
        {% endif %}
        </div>
        <br> 
    {% elif author_request_articles %}
        <div class="inline-wrapper plate solid" style="width: calc(75% - 5px);">
          <div id="articles_button_1" class="button0 button0-active" onclick="showarticles(1)">Опубликованные посты</div> 
          <div id="articles_button_3" class="button0" onclick="showarticles(3)">Ваши предложенные посты {{ author_request_articles|length }}</div> 
        </div>
        <br> 
    {% endif %} 

    <div id="request_articles" class="hidden">
      {% if request.user == group.admin or request.user in group.editors.all %}      
        {% for post in request_articles %}
          <div class="inline-wrapper" id="request_article{{ post.id }}">
            <div style="width: calc(75% - 5px);">
              <div class="plate">
                <div class="inline-wrapper" style="height: 40px;">
                  <div class="inline-wrapper">
                    {% if post.author %}
                      <img class="small-img" src="/media/{{ post.author.profile.avatar }}" alt="" onError="this.remove()">   
                      <div style="margin-top: -5px">            
                        <div class="text2"><a class="link1" href="{% url 'UserProfile:userprofile' post.author %}">{{ post.author }}</a></div>
                        {% if post.author.profile.verified %}
                          <i class="material-icons icon3" title="Подтвержденный пользователь">done</i>
                        {% endif %}
                        <div class="text3" style="margin-top: -10px;">в сообществе <a class="link1" href="{% url 'communities:community' group.slug %}">{{ group.groupname }}</a></div>
                      </div>                
                    {% else %}
                      <img class="small-img" src="{{ group.image.url }}" alt="" onError="this.remove()"> 
                      <div class="text2" style="margin-top: 7px"><a class="link1" href="{% url 'communities:community' group.slug %}">{{ post.group }}</a></div>
                    {% endif %}               
                  </div>
                  <div class="inline-wrapper" style="margin-top: 13px; margin-right: 10px;">
                    <i class="material-icons icon1 pointer" onclick="allowarticle('{{ post.id }}')" title="Опубликовать" style="margin-right: 5px;">done</i>
                    <i class="material-icons icon1 pointer" onclick="deletearticle('{{ post.id }}')" title="Удалить">clear</i>
                  </div>
                </div>
                <hr>
                <div class="text2">{{ post.text }}</div>
                <div id="post{{ post.id }}addition1" style="flex-wrap: wrap; display: flex;">
                  {% with 1 as counter %}
                    {% for file in post.files.images %}
                      <div fileid="{{ file.id }}" style="position: relative;">
                        <div class="image-decorator" onclick="showfile('{{ file.file.url }}', '{{ file.name }}', '{{ counter }}', 'post{{ post.id }}addition1')">
                          <i class="material-icons icon-image-decorator">remove_red_eye</i>
                        </div>
                        <img class="medium-img" src="{{ file.file.url }}" name="{{ file.name }}" onerror="this.parentElement.remove()">
                      </div>
                      {% update_counter counter as counter %}
                    {% endfor %}
                  {% endwith %}
                </div>
                <div id="post{{ post.id }}addition2" style="flex-wrap: wrap; display: flex;">
                  {% for file in post.files.not_images %}
                    <a href="{{ file.file.url }}" download="{{ file.name }}" fileid="{{ file.id }}">
                      <div class="button3 grey" style="text-align: center;">{{ file.name }}</div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>  
          <br>
        {% empty %}
        <div class="plate">
          <div class="text2">Нет предложенных постов</div>
        </div>          
        {% endfor %}
      {% endif %}
    </div>

    <div id="articles" class="">    
      {% for post in articles %}
        <div class="inline-wrapper">
          <div style="width: calc(75% - 5px);">
            <div class="plate">
              <div class="inline-wrapper" style="height: 40px;">
                <div class="inline-wrapper">
                  {% if post.author %}
                    <img class="small-img" src="/media/{{ post.author.profile.avatar }}" alt="" onError="this.remove()">   
                    <div style="margin-top: -5px">            
                      <div class="text2"><a class="link1" href="{% url 'UserProfile:userprofile' post.author %}">{{ post.author }}</a></div>
                      {% if post.author.profile.verified %}
                        <i class="material-icons icon3" title="Подтвержденный пользователь">done</i>
                      {% endif %}
                      <div class="text3" style="margin-top: -10px;">в сообществе <a class="link1" href="{% url 'communities:community' group.slug %}">{{ group.groupname }}</a></div>
                    </div>                
                  {% else %}
                    <img class="small-img" src="{{ group.image.url }}" alt="" onError="this.remove()"> 
                    <div class="text2" style="margin-top: 7px"><a class="link1" href="{% url 'communities:community' group.slug %}">{{ post.group }}</a></div>
                  {% endif %}
                </div>
                {% if request.user == group.admin or request.user in group.editors.all %}
                  <div class="inline-wrapper" style="margin-top: 13px; margin-right: 10px;">
                    <i class="material-icons icon1 pointer" onclick="showedit('{{ post.id }}')" style="margin-right: 5px;">edit</i>
                    <i class="material-icons icon1 pointer" onclick="showwarning2('Удалить этот пост?', 'deletepost({{ post.id }})')">delete</i>
                  </div>
                {% endif %}
              </div>
              <hr>
              <div class="text2">{{ post.text }}</div>
              <div id="post{{ post.id }}addition1" style="flex-wrap: wrap; display: flex;">
                {% with 1 as counter %}
                  {% for file in post.files.images %}
                    <div fileid="{{ file.id }}" style="position: relative;">
                      <div class="image-decorator" onclick="showfile('{{ file.file.url }}', '{{ file.name }}', '{{ counter }}', 'post{{ post.id }}addition1')">
                        <i class="material-icons icon-image-decorator">remove_red_eye</i>
                      </div>
                      <img class="medium-img" src="{{ file.file.url }}" name="{{ file.name }}" onerror="this.parentElement.remove()">
                    </div>
                    {% update_counter counter as counter %}
                  {% endfor %}
                {% endwith %}
              </div>
              <div id="post{{ post.id }}addition2" style="flex-wrap: wrap; display: flex;">
                {% for file in post.files.not_images %}
                  <a href="{{ file.file.url }}" download="{{ file.name }}" fileid="{{ file.id }}">
                    <div class="button3 grey" style="text-align: center;">{{ file.name }}</div>
                  </a>
                {% endfor %}
              </div>
            </div>
            <div style="padding: 0px 10px;">
              {% if post.allow_comments %}
                {% include "news_feed/comments.html" %}
              {% else %}
                <div class="solid">
                  <div class="text2">Комментарии отключены</div>
                </div>
              {% endif %}
            </div> 
          </div>
          <div class="solid" style="width: calc(25% - 5px); height: 110px; text-align: center;">    
            <div style="display: flex; margin: 15px auto 15px; text-align: center; padding: 10px 10px 0px 10px; width: 70%; border-radius: 5px; border: 1px #CCC solid;">
              <div style="display: flex; margin: auto;">
                <div class="text2" id="plus{{post.id}}" style="margin-top: -4px; margin-right: 6px;">{{ post.pluses.count }}</div>
                {% if request.user.is_authenticated %}
                  {% can_plus post request.user as can_plus_val %}
                  {% if not can_plus_val %}
                    <i class="material-icons icon3-1 grey-color-1" style="margin-right: 10px; margin-top: -3px;" title="Вы не можете оценивать собственный пост">thumb_up</i> 
                    <i class="material-icons icon3-1 grey-color-1" style="margin-top: 1px;" title="Вы не можете оценивать собственный пост">thumb_down</i> 
                  {% else %}
                    {% if request.user in post.pluses.all %}
                      <i class="material-icons icon3-1 pointer green-color" id="plusicon{{post.id}}" style="margin-right: 10px; margin-top: -3px;" onclick="plus_minus('{{ post.id }}', 'remove_plus')">thumb_up</i> 
                      <i class="material-icons icon3-1 pointer grey-color" id="minusicon{{post.id}}" style="margin-top: 1px;" onclick="plus_minus('{{ post.id }}', 'minusminus')">thumb_down</i> 
                    {% elif request.user in post.minuses.all %}
                      <i class="material-icons icon3-1 pointer  grey-color" id="plusicon{{post.id}}" style="margin-right: 10px; margin-top: -3px;" onclick="plus_minus('{{ post.id }}', 'plusplus')">thumb_up</i> 
                      <i class="material-icons icon3-1 pointer red-color" id="minusicon{{post.id}}" style="margin-top: 1px;" onclick="plus_minus('{{ post.id }}', 'remove_minus')">thumb_down</i> 
                    {% else %}
                      <i class="material-icons icon3-1 pointer grey-color" id="plusicon{{post.id}}" style="margin-right: 10px; margin-top: -3px;" onclick="plus_minus('{{ post.id }}', 'plus')">thumb_up</i> 
                      <i class="material-icons icon3-1 pointer grey-color" id="minusicon{{post.id}}" style="margin-top: 1px;" onclick="plus_minus('{{ post.id }}', 'minus')">thumb_down</i> 
                    {% endif %} 
                  {% endif %}
                {% else %}
                  <i class="material-icons icon3-1 grey-color-1" style="margin-right: 10px; margin-top: -3px;">thumb_up</i> 
                  <i class="material-icons icon3-1 grey-color-1" style="margin-top: 1px;">thumb_down</i> 
                {% endif %}
                <div class="text2" id="minus{{post.id}}" style="margin-top: -4px; margin-left: 6px;">{{ post.minuses.count }}</div>   
              </div>         
            </div>            
            <div class="text3">{{ post.pubdate }}</div>
          </div>
        </div>  
        <br>         
      {% empty %}
      <div class="plate">
        <div class="text2">Нет постов</div>
      </div>          
      {% endfor %}
    </div>

    <div id="author_request_articles" class="hidden">
      {% if author_request_articles %}      
        {% for post in author_request_articles %}
          <div class="inline-wrapper" id="author_request_article{{ post.id }}">
            <div style="width: calc(75% - 5px);">
              <div class="plate">
                <div class="inline-wrapper" style="height: 40px;">
                  <div class="inline-wrapper">
                    {% if post.author %}
                      <img class="small-img" src="/media/{{ post.author.profile.avatar }}" alt="" onError="this.remove()">   
                      <div style="margin-top: -5px">            
                        <div class="text2"><a class="link1" href="{% url 'UserProfile:userprofile' post.author %}">{{ post.author }}</a></div>
                        {% if post.author.profile.verified %}
                          <i class="material-icons icon3" title="Подтвержденный пользователь">done</i>
                        {% endif %}
                        <div class="text3" style="margin-top: -10px;">в сообществе <a class="link1" href="{% url 'communities:community' group.slug %}">{{ group.groupname }}</a></div>
                      </div>                
                    {% else %}
                      <img class="small-img" src="{{ group.image.url }}" alt="" onError="this.remove()"> 
                      <div class="text2" style="margin-top: 7px"><a class="link1" href="{% url 'communities:community' group.slug %}">{{ post.group }}</a></div>
                    {% endif %}              
                  </div>
                  <div class="inline-wrapper" style="margin-top: 13px; margin-right: 10px;">
                    <i class="material-icons icon1 pointer" onclick="showedit('{{ post.id }}')" style="margin-right: 5px;">edit</i>
                    <i class="material-icons icon1 pointer" onclick="showwarning2('Удалить этот пост?', 'deletepost({{ post.id }})')">delete</i>
                    <!--<i class="material-icons icon1 pointer" onclick="delete_request_article('{{ post.id }}')" title="Удалить предложенный пост">clear</i>-->
                  </div>
                </div>
                <hr>
                <div class="text2">{{ post.text }}</div>
                <div id="post{{ post.id }}addition1" style="flex-wrap: wrap; display: flex;">
                  {% with 1 as counter %}
                    {% for file in post.files.images %}
                      <div fileid="{{ file.id }}" style="position: relative;">
                        <div class="image-decorator" onclick="showfile('{{ file.file.url }}', '{{ file.name }}', '{{ counter }}', 'post{{ post.id }}addition1')">
                          <i class="material-icons icon-image-decorator">remove_red_eye</i>
                        </div>
                        <img class="medium-img" src="{{ file.file.url }}" name="{{ file.name }}" onerror="this.parentElement.remove()">
                      </div>
                      {% update_counter counter as counter %}
                    {% endfor %}
                  {% endwith %}
                </div>
                <div id="post{{ post.id }}addition2" style="flex-wrap: wrap; display: flex;">
                  {% for file in post.files.not_images %}
                    <a href="{{ file.file.url }}" download="{{ file.name }}" fileid="{{ file.id }}">
                      <div class="button3 grey" style="text-align: center;">{{ file.name }}</div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>  
          <br>         
        {% empty %}
        <div class="plate">
          <div class="text2">Нет ваших предложенных постов</div>
        </div>          
        {% endfor %}
      {% endif %}
    </div>
  </div>   


  {% if request.user == group.admin or request.user in group.editors.all or author_request_articles %}
    {% include "news_feed/edit_article.html" %}
  {% endif %} 

  <div id="see_likes" class="plate" style="display: none; position: fixed; top: 300px; width: 600px; right: 50%; margin-right: -300px; z-index: 1021">
    <div class="text1">Пользователи, которым понравилась запись</div>
    <hr>
    <div class="inline-wrapper">
      <div class="inline-wrapper">
        <i class="material-icons icon2 flip-vertical" style="margin-top: 5px; margin-right: 5px;">search</i>
        <input class="input2" type="text" placeholder="поиск" onkeyup="searchlist('editors_list2', this.value)">
      </div>
    </div>
    <br>
    <div id="liked_users" style="max-height: 500px; overflow-x: hidden; overflow-y: scroll;">
      <div class="solid">
        <div class="text3">Этот раздел еще не завершен. Свяжитесь с разработчиками для подробной информации.</div>
      </div>
    </div>
    <hr>
    <div class="inline-wrapper">
      <div></div>
      <div class="button3 red" onclick="showliked()" style="width: calc(50% - 5px); text-align: center;">Закрыть</div>
      <div></div>
    </div>
  </div>
{% endblock %}
