{% extends "base_general.html" %}
{% load static %}
{% block title %} Чат {% endblock %}
{% block title_h1 %} Чат {% endblock %}


{% block content %}
<div class="container">
    <div id="chat-body" class="panel panel-default">
        <div id="msg-list-div" class="panel-body overflow-auto" style="max-height: 60vh !important;">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    <li class="text-left list-group-item"><a href="/profile/{{ obj.user.username }}">{{ obj.user.username }}</a>: {{ obj.message }}</li>
                {% empty %}
                    <li class="text-left list-group-item">Сообщения отсутствуют!</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<br>
    <div class="container">
        <div class="row">
            <p class="lead text-center">Войдите перед использованием!</p>
        </div>
    </div>
<script src="{% static 'chat/js/scriptnew.js' %}"></script>

{% endblock %}
