{% extends 'chat/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-3">Чат</h1>
        <div id="chat-body" class="panel panel-default">
            <div id="msg-list-div" class="panel-body" style="overflow-y: scroll; max-height: 300px !important;">
                <ul id="msg-list" class="list-group">
                    {% for obj in chat %}
                        {% if obj.user == request.user %}
                        <li class="text-left list-group-item">Вы написали: {{ obj.message }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{ obj.user.username }} написал: {{ obj.message }}</li>
                        {% endif %}
                    {% empty %}
                        <li class="text-left list-group-item">No messages!</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div id="chat-form" class="affix-bottom" data-offset-bottom="10">
            {% csrf_token %}
            <div id="chat-bottom" class="input-group">
                <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
                <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}
