{% extends "aero/base_page.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/aero/personal_messages/css/dialog.css">
{% endblock %}

{% block main_content %}
<div class="content-columns" id="content-columns">
    <div class="wide-content-column">
        <div class="content-box wide">
            <div class="pm-dialog">
                <div class="pm-dialog-header">
                    <a class="dialog-back" href="/conversations/">
                        <ion-icon name="chevron-back-sharp" class="dialog-back-icon"></ion-icon>
                        <div class="dialog-back-text">
                            Назад
                        </div>
                    </a>
                    <a class="dialog-name" href="/profile/{{ user_messaging_with.username }}">
                        @{{ user_messaging_with.username }}
                    </a>
                    <div class="dialog-options">
                        <ion-icon onclick="delete_dialog({{ dialog_id }})" name="close-sharp" class="dialog-settings-icon"></ion-icon>
                        <img class="dialog-avatar" src="{{ user_messaging_with.profile.get_avatar_url }}">
                    </div>
                </div>
                <div class="pm-dialog-content" id="msg-list">
                    {% for message in messages %}
                        <div class="pm-dialog-message" id="{{ message.id }}">
                            <div class="pm-dialog-message-avatar">
                                <img class="pm-dialog-message-avatar-img" src="{{ message.user.profile.get_avatar_url }}">
                            </div>
                            <div class="pm-dialog-message-info">
                                <div class="pm-dialog-message-info-upper">
                                    <div class="info-username">
                                        {{ message.user }}
                                    </div>
                                    {% if message.user.username == user.username and message.is_earlier_24 %}
                                    <div class="info-settings">
                                        <ion-icon name="pencil-sharp" class="info-settings-icon" onclick="edit_message({{ message.id }})"></ion-icon>
                                        <ion-icon name="close-sharp" class="info-settings-icon" onclick="delete_message({{ message.id }})"></ion-icon>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="pm-dialog-message-info-text">
                                    {{ message.text.strip }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pm-dialog-footer">
                    <div class="dialog-send-block">
                        <input id="id_text" type="text" class="dialog-input" placeholder="Сообщение...">
                        <input id="user_messaging" type="hidden" value={{ user_messaging_with.id }} />
                        <input id="current_edit" value="-1" hidden>
                        <ion-icon id="send" name="send-sharp" class="dialog-send-message-icon" onclick="send_message()"></ion-icon>
                        <ion-icon id="cancel_edit" name="close-sharp" class="dialog-send-message-icon" onclick="cancel_edit()" style="display: none;"></ion-icon>
                        <ion-icon id="save_message" name="send-sharp" class="dialog-send-message-icon" onclick="save_message()" style="display: none;"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-column center-text">
        <div class="sticky-content">
            <div class="content-box">
                <div class="content-header">
                    <div class="header">
                        Параметры
                    </div>
                </div>
                <div class="content">
                    <div class="text-content">
                        Недоступно
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/aero/personal_messages/js/dialog.js"></script>
{% endblock %}