/* Общее - начало */

html, body {
    height: 100%;
    font-size: 14px;
    color: #353535;
    line-height: 1.45;
}

body {
    background-color: #f2f7fb;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.005em;
    font-stretch: condensed;
}

a {
    color: #353535;
    text-decoration: none;
}

.grey-icon {
    transition-property: color;
    transition-duration: 0.2s;    
}

.grey-icon:hover {
    color: #e0e3e6 !important;
}

.blue-icon {
    color: #00ccea !important;
    transition-property: color;
    transition-duration: 0.2s;
}

.blue-icon:hover {
    color: #10dcfa !important;
}

.pointer {
    cursor: pointer;
}

.page-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
/* Общее - конец */
/* Сайдбар: начало */
.left-content {
    flex-grow: 1;
    flex-basis: 14.28%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 0px 10px 0px rgba(92, 92, 92, 0.05);
    z-index: 1020;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0 !important;
}

.left-menu-element-list {
    display: flex;
    flex-direction: column;
    padding-top: 50%;
}

.left-menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.left-menu-icon {
    color: #d0d3d6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    text-decoration: none;
    vertical-align: middle !important;
    font-size: 24px;
}

.left-menu-element {
    color: #353535;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 1px;
    text-decoration: none;
}


.left-menu-link.active {
    color: #00ccea;
    border: 0;
    border-right: 2px solid #00ccea;
    border-style: solid;
}

.left-menu-icon.active {
    color: #00ccea;
}

.left-menu-element.active {
    color: #00ccea;
}

.sidebar-logo {
    padding: 15px;
}

/* Сайдбар: конец */

/* Верхнее меню: начало */
.upper-menu {
    background-color: #ffffff;
    width: 100%;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 7px 1px rgba(92, 92, 92, 0.1);
    top: 0 !important;
    position: sticky;
    z-index: 1020;
}

.upper-menu-link {
    display: block;
    text-decoration: none;
    color: #353535;
    padding-left: 20px;
    padding-right: 20px;
}

.about {
    color: #353535;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.search {
    flex-grow: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.search-box {
    width: 60%;
    padding: 1.25vh 1.25vh;
    background-color: #f7f8fa;
    display: block;
    margin : 0 auto;
    border: 0px;
    border-radius: 7px;
    background-image: url('/static/aero/base/img/search-outline.svg');
    background-position: 10px 7.5px;
    background-repeat: no-repeat;
    padding-left: 45px;
    outline: none;
    font-size: 15px;
}

input[type=text]:focus {
  border: 0px;
  border-radius: 5px;
}

.profile {
    flex-grow: 1;   
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.menu-profile-img {
    border-radius: 22.5px;
    margin-left: 15px;
    width: 45px;
    height: 45px;
}
/* Верхнее меню: конец */

/* Основной контент */
.right-content {
    flex-grow: 6; 
    flex-basis: 85.71%;
}

.background-content {
    margin-bottom: -7vh;
}

.background-img {
    height: 25vh;
    max-width: 100%;
    opacity: 0.7;
    background-color: white;
}

.content-columns {
    top: 8vh;
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-column {
    flex-grow: 0;
    flex-basis: 17.5%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    top: 8vh;
    position: sticky;
}

.wide-content-column {
    flex-grow: 0;
    flex-basis: 55%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    top: 8vh;
    position: sticky;
}

.content-column.wide {
    flex-basis: 35%;
}

.content-column.long {
    height: 80vh;
}

.content-column.center-text {
    text-align: center;
    
}

.sticky-content {
 top: 9vh;
 position: sticky;
}

.profile-box {
    text-align: center;
    
}

.content-box {
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 10vh;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
}

.content-box.wide {
    margin-top: 19px;
}

.main-avatar {
    height: 35%;
    width: 35%;
    border-radius: 50%;
    margin: 20px;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    
}

.profile-about {
    margin: 20px;
    font-size: 16px;
}

.profile-stats {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   //margin-bottom: 40px;
   font-size: 16px;
}

.profile-stat {
   flex-grow: 1;
   flex-basis: 33.33%;
   font-size: 15px;
   padding-bottom: 20px;
}

.stat-header {
    margin: 15px;
    color: #969696;
}

.stat-counter {
    font-size: 19px;
}

.center-borders {
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    
}

.settings-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 16vh;
    flex-wrap: wrap;
    
}

.setting-box {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    border-radius: 10px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    margin-left: 5px;
    margin-right: 5px;
    //min-height: 4vh;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d0d3d6;
    text-decoration: none;
    display: block;
    color: #353535;
}

.setting-box.active {
    background-color: white;
    color: #00c5e4;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    border-style: none;
}

.setting-icon {
    padding-top: 15px;
    font-size: 64px;
    color: #d0d3d6;
}

.setting-box.active > .setting-icon {
    color: #00c5e4 !important;
}

.setting-header {
    padding-top: 5px;
    padding-bottom: 15px;
}

.posts-box {
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 20vh;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    
}

.posts-header {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}

.content-header {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-around;
    font-size: 19px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    
}

.header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    color: #00c5e4;
    border-bottom: 2px solid #00c5e4;
    
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.content .text-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content .button-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-feeds {
    display: flex;
}

.content-feed {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-feed.active {
    color: #00c5e4;
    border-bottom: 2px solid #00c5e4;
    
}

.feed-parameters {
    color: #d0d3d6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.posts-content {
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}


.button {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button.button-primary {
    color: white;
    background-color: #00c5e4;
}

.post {
    margin-bottom: 15px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-items: center;
}

.post-header > .author {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.post-header > .title {
    font-size: 18px;
    padding-left: 5px;
    font-weight: 600;
    color: #353535;
    text-decoration: none;
}

.author > .name {
    display: block;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #353535;
}

.author > .avatar {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.avatar-32 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-content {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.46;
    word-break: break-word;
}

.post-footer {
    border-top: 1px solid #d0d3d6;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.post-footer > .secondary-info {
    color: #969696;
}

.read-more > .read-more-btn {
    color: white;
    background-color: #00c5e4;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
}

.read-more {
    padding-left: 5px;
    padding-right: 5px;
}

.rating-comments {
    display: flex;
    align-items: center;
}

.rating-comments > .rating {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.rating-comments > .comments {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.rating > .rating-count {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    color: #353535;
}

.comments > .comment-count {
    padding-left: 5px;
    font-size: 18px;
    color: #353535;
}

.comments > .comment-icon {
    color: #d0d3d6; 
    font-size: 24px;
}

.rating > .rating-btn {
    color: #d0d3d6;
    font-size: 24px;
}
/* Основной контент - конец */

/* Стили для страницы личных сообщений */
.message-table {
    display: flex;
    flex-direction: column;
}

.message-row {
    height: 7.5vh;
    //border-left: 1px solid #d0d3d6;
    //border-right: 1px solid #d0d3d6;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.message-avatar {
    flex-grow: 0;
    flex-basis: 12.5%;
    align-self: center;

}

.message-avatar:hover {
    background-color: #fbfbfb;

}

.message-avatar-link > img {
    height: 7vh;
    width: 7vh;
    align-self: center;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.message-info {
    flex-grow: 0;
    flex-basis: 87.5%;
    text-decoration: none;
    color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.message-info:hover {
    background-color: #fbfbfb;
}

.message-info-upper {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.message-info-author {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.message-info-date {
    color: #969696;
    margin-left: 10px;
    margin-right: 10px;
}

.message-info-lower {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-info-text {
    margin-left: 10px;
    margin-right: 10px;
}

.message-info-counter {
    color: white;
    background-color: #00c5e4;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Стили для страницы личных сообщений - конец */

/* Настройки профилей - начало */

.category-table {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.category-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    text-decoration: none;
    color: #353535;
}

.category-row.last {
    border-bottom: 0px solid #eaeaea;
}

.category-row.active {
    color: #00ccea;
}

.content-box-text {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 18px;
}

.content-box-text.small {
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 15px;
}


.settings-table {
    display: flex;
    flex-direction: column;
}

.settings-row {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}

.settings-row-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.settings-row-checkbox {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.settings-row-field {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.settings-row-button {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.settings-row-notification {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.password-field {
    font-size: 16px;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    outline: none;
}

.password-field:focus {
    border-bottom: 1px solid #00c5e4;
}

.password-field::placeholder {
    color: #d0d3d6;
}

.settings-button {
    color: white;
    background-color: #00c5e4;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    self-align: center;
    cursor: pointer;
}

.medium-grey-icon {
    color: #d0d3d6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    text-decoration: none;
    vertical-align: middle !important;
    font-size: 24px;
    cursor: pointer;
}

.settings-row-avatar {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
}

.settings-row-user {
    display: flex;
    align-items: center;
}

.edit-profile-field {
    font-size: 16px;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    outline: none;
}

.edit-profile-field:focus {
    border-bottom: 1px solid #00c5e4;
}

.edit-profile-field::placeholder {
    color: #d0d3d6;
}

/* Настройки профилей - конец */

/* Для экранов шириной больше 2560 пикселей - начало. Изменения только в области масштабирования, шрифтов и т.д.*/
@media only screen and (min-width : 2560px) {
    
/* Общее - начало */
html, body {
    font-size: 16px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
    letter-spacing: 0.005em;
    font-stretch: condensed;
}
/* Общее - конец */

/* Сайдбар: начало */
.left-content {
    box-shadow: 2px 0px 10px 0px rgba(92, 92, 92, 0.05);
}
.sidebar {
    width: 100%;
    height: 100vh;
}

.left-menu-element-list {
    padding-top: 50%;
}

.left-menu-link {
    font-size: 26px;
}

.left-menu-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
    font-size: 38px;
}

.left-menu-element {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 25px;
    margin-right: 1px;
}

.sidebar-logo {
    padding: 20px;
}

/* Сайдбар: конец */

/* Верхнее меню: начало */
.upper-menu {
    width: 100%;
    height: 7.5vh;
    box-shadow: 0px 3px 7px 1px rgba(92, 92, 92, 0.1);
}

.about {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 24px;
}

.search {
    padding-left: 20px;
    padding-right: 20px;
}

.search-box {
    width: 60%;
    padding: 1.25vh 1.25vh;
    border-radius: 7px;
    background-position: 16px 21px;
    background-repeat: no-repeat;
    padding-left: 60px;
    font-size: 22px;
}

input[type=text]:focus {
  border: 0px;
  border-radius: 5px;
}

.profile {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.menu-profile-img {
    border-radius: 50%;
    margin-left: 20px;
    width: 64px;
    height: 64px;
}
/* Верхнее меню: конец */

/* Основной контент */
.background-img {
    height: 25vh;
    max-width: 100%;
}

.content-columns {
    top: 8vh;
    width: 100%;
}

.content-column {
    margin-left: 15px;
    margin-right: 15px;
    top: 8vh;
}

.content-column.long {
    height: 80vh;
}

.sticky-content {
    top: 9vh;
}

.content-box {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
}

.content-box.wide {
    margin-top: 27.5px;
}

.main-avatar {
    height: 35%;
    width: 35%;
    border-radius: 50%;
    margin: 25px;
}

.profile-name {
    font-size: 28px;
    margin: 5px;
}

.profile-about {
    margin: 20px;
    font-size: 22px;
}

.profile-stats {
   margin-top: 30px;
   font-size: 20px;
}

.profile-stat {
   font-size: 26px;
   padding-bottom: 30px;
}

.stat-header {
    margin: 15px;
}

.stat-counter {
    font-size: 26px;
}

.settings-box {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 16vh;
}

.setting-box {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.setting-box.active {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
}

.setting-icon {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 84px;
}


.setting-header {
    padding-top: 10px;
    padding-bottom: 20px;
}

.posts-box {
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 20vh;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.03);
}

.posts-header {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.content-header {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    
}

.header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
}

.content .text-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content .button-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-feed {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-feed.active {
    border-bottom: 2px solid #00c5e4;
    
}

.feed-parameters {
    padding-top: 20px;
    padding-bottom: 20px;
}

.posts-content {
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
}


.button {
    font-size: 24px;
    padding: 15px;
    border-radius: 10px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button.button-primary {
    color: white;
}

.post {
    margin-bottom: 25px;
}

.post-header {
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-header > .author {
    font-size: 24px;
}

.post-header > .title {
    font-size: 28px;
    padding-left: 10px;
}

.author > .name {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.author > .avatar {
    padding-left: 5px;
    padding-right: 5px;
}

.avatar-32 {
    width: 48px;
    height: 48px;
}

.post-content {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-footer {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.read-more > .read-more-btn {
    padding: 15px;
    border-radius: 5px;
}

.read-more {
    padding-left: 10px;
    padding-right: 10px;
}

.rating-comments > .rating {
    padding-left: 5px;
    padding-right: 5px;
}

.rating-comments > .comments {
    padding-left: 20px;
    padding-right: 20px;
}

.rating > .rating-count {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 28px;
}

.comments > .comment-count {
    padding-left: 5px;
    font-size: 28px;
}

.comments > .comment-icon {
    font-size: 40px;
}

.rating > .rating-btn {
    font-size: 48px;
}
/* Основной контент - конец */
/* Настройки профилей - начало */


.category-row {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
}



/* Настройки профилей - конец */
}
/* Для экранов шириной больше 2560 пикселей - конец */
