{% for conversation in conversations %}
  <a href="/conversations/user/{{conversation.0.id}}" class="list-group-item list-group-item-action flex-column align-items-start {% if conversation.2 > 0 %}bg-light{% endif %}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Переписка с {{conversation.0.username}}</h5>
      <small>{{conversation.1.last_interaction}}</small>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">{{conversation.1.get_last_message}}</p>
      {% if conversation.2 > 0 %}
      <small><button class="btn bg-primary text-light">{{conversation.2}}</button></small>
      {% endif %}
    </div>
  </a>
{% endfor %}
  {% if conversations|length == 0 %}
  Переписки отсутствуют.
  {% endif %}