{% extends "aero/base_page.html" %}
{% block main_content %}
<div class="background-content">
    <img class="background-img" src="/static/aero/profile/img/everest.jpg"/>
</div>
<div class="content-columns" id="content-columns">
    <div class="content-column" id="col-1">
        <div class="sticky-content">
            <div class="content-box profile-box">
                <img class="main-avatar" src="{{ user.profile.get_avatar_url }}"/>
                <div class="profile-name">
                    @{{ user.username }}
                </div>
                <div class="profile-about">
                    {{ user.profile.about }}
                </div>
                <div class="profile-stats">
                    <div class="profile-stat">
                        <div class="stat-header">
                            Карма
                        </div>
                        <div class="stat-counter">
                            undefined
                        </div>
                    </div>
                    <div class="profile-stat center-borders">
                        <div class="stat-header">
                            Кредиты
                        </div>
                        <div class="stat-counter">
                            {{ user.profile.coinmanagement.coins }}
                        </div>
                    </div>
                    <div class="profile-stat">
                        <div class="stat-header">
                            Посты
                        </div>
                        <div class="stat-counter">
                            {{ request.user.articles.count }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-box">
                <a class="setting-box" href="/profile/">
                    <div class="setting-icon">
                        <ion-icon name="eye-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Просмотр
                    </div>
                </a>
                <a class="setting-box">
                    <div class="setting-icon">
                        <ion-icon name="person-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Изменить профиль
                    </div>
                </a>
                <a class="setting-box active" href="/profile/settings">
                    <div class="setting-icon">
                        <ion-icon name="settings-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Настройки
                    </div>
                </a>
                <a class="setting-box">
                    <div class="setting-icon">
                        <ion-icon name="star-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Избранное
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="content-column wide">
        <div class="content-box">
            <div class="content-box-text">
                Настройки уведомлений
            </div>
            {% csrf_token %}
            <div class="settings-table">
                <div class="settings-row">
                    <div class="settings-row-text">Уведомления о новых сообщениях</div>
                    <div class="settings-row-checkbox">
                        <input type="checkbox" onclick="toggle_personal_message_notifications()" id="id_personal_message_notifications" {% if personal_message_notifications %} checked {% endif %}>
                    </div>
                </div>
                <div class="settings-row">
                    <div class="settings-row-text">Уведомления о вступлении в закрытое сообщество</div>
                    <div class="settings-row-checkbox">
                        <input type="checkbox" onclick="toggle_accepted_to_group_notifications()" id="id_accepted_to_group_notifications" {% if accepted_to_group_notifications %} checked {% endif %}>
                    </div>
                </div>
                <div class="settings-row">
                    <div class="settings-row-text">Уведомления о публикации предложенных записей</div>
                    <div class="settings-row-checkbox">
                        <input type="checkbox" onclick="toggle_post_published_notifications()" id="id_post_published_notifications" {% if post_published_notifications %} checked {% endif %}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-column center-text">
        <div class="sticky-content">
            <div class="content-box">
                <div class="category-table">
                    <a href="{% url 'UserProfile:edit_security' %}" class="category-row">
                        Безопасность
                    </a>
                    <a href="{% url 'UserProfile:edit_notifications' %}" class="category-row active">
                        Уведомления
                    </a>
                    <a href="{% url 'UserProfile:edit_privacy' %}" class="category-row">
                        Приватность
                    </a>
                    <a href="{% url 'UserProfile:blockedusers' %}" class="category-row last">
                        Чёрный список
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/aero/profile/js/settings.js"></script>
{% endblock %}