{% extends "aero/base_page.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'aero/posts/js/functions.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="background-content">
    <img class="background-img" src="/static/aero/profile/img/everest.jpg"/>
</div>
<div class="content-columns" id="content-columns">
    <div class="content-column" id="col-1">
        <div class="sticky-content">
            <div class="content-box profile-box">
                <img class="main-avatar" src="{{ user.profile.get_avatar_url }}"/>
                <div class="profile-name">
                    @{{ user.username }}
                </div>
                <div class="profile-about">
                    {{ user.profile.about }}
                </div>
                <div class="profile-stats">
                    <div class="profile-stat">
                        <div class="stat-header">
                            Карма
                        </div>
                        <div class="stat-counter">
                            undefined
                        </div>
                    </div>
                    <div class="profile-stat center-borders">
                        <div class="stat-header">
                            Кредиты
                        </div>
                        <div class="stat-counter">
                            {{ user.profile.coinmanagement.coins }}
                        </div>
                    </div>
                    <div class="profile-stat">
                        <div class="stat-header">
                            Посты
                        </div>
                        <div class="stat-counter">
                            {{ request.user.articles.count }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="settings-box">
                <a class="setting-box active" href="/profile/">
                    <div class="setting-icon">
                        <ion-icon name="eye-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Просмотр
                    </div>
                </a>
                <a class="setting-box">
                    <div class="setting-icon grey-icon">
                        <ion-icon name="person-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Изменить профиль
                    </div>
                </a>
                <a class="setting-box" href="/profile/settings">
                    <div class="setting-icon grey-icon">
                        <ion-icon name="settings-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Настройки
                    </div>
                </a>
                <a class="setting-box">
                    <div class="setting-icon grey-icon">
                        <ion-icon name="star-sharp"></ion-icon>
                    </div>
                    <div class="setting-header">
                        Избранное
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="content-column wide">
        <div class="posts-box">
            <div class="posts-header">
                <div class="content-feeds">
                    <div class="content-feed active">Мои посты</div>
                    <div class="content-feed">Реакции</div>
                </div>
                <div class="feed-parameters">
                    <ion-icon name="settings-sharp"></ion-icon>
                </div>
            </div>
            <div class="posts-content">
                {% for post in posts %}
                    {% include 'UserProfile/aero/profile_post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="content-column center-text">
        <div class="sticky-content">
            <div class="content-box">
                <div class="content-header">
                    <div class="header">
                        Доска
                    </div>
                </div>
                <div class="content">
                    <div class="text-content">
                        Пусто. Выберите предмет или достижение, и его увидят все пользователи!
                    </div>
                    <div class="button-content">
                        <div class="button button-primary">Выбрать</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}