{% extends "aero/base_page.html" %}
{% block main_content %}
<div class="background-content">
    <img class="background-img" src="/static/aero/profile/img/everest.jpg"/>
</div>
<div class="content-columns" id="content-columns">
    <div class="content-column" id="col-1">
        <div class="sticky-content">
            {% include 'UserProfile/aero/profile_card.html' %}
            {% include 'UserProfile/aero/settings_four_boxes.html' with box='settings' %}
        </div>
    </div>
    <div class="content-column wide">
        <div class="content-box">
            <div class="content-box-text">
                Это настройки. Чтобы приступить, выберите раздел справа
            </div>
        </div>
    </div>
    <div class="content-column center-text">
        <div class="sticky-content">
            <div class="content-box">
                <div class="category-table">
                    <a href="{% url 'UserProfile:edit_security' %}" class="category-row">
                        Безопасность
                    </a>
                    <a href="{% url 'UserProfile:edit_notifications' %}" class="category-row">
                        Уведомления
                    </a>
                    <a href="{% url 'UserProfile:edit_privacy' %}" class="category-row">
                        Приватность
                    </a>
                    <a href="{% url 'UserProfile:blockedusers' %}" class="category-row last">
                        Чёрный список
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}