<div class="settings-box">
    <a class="setting-box {% if box == 'view' or box == 'user_profile' %} active {% endif %}" href="/profile/">
        <div class="setting-icon">
            <ion-icon name="eye-sharp"></ion-icon>
        </div>
        <div class="setting-header">
            Просмотр
        </div>
    </a>
    {% if box == 'user_profile' %}
    <a class="setting-box active" href="/conversations/user/{{user.id}}">
        <div class="setting-icon">
            <ion-icon name="chatbubble-sharp"></ion-icon>
        </div>
        <div class="setting-header">
            Написать сообщение
        </div>
    </a>
    {% endif %}
    {% if box != 'user_profile' %}
    <a class="setting-box {% if box == 'edit' %} active {% endif %}" href="/profile/edit_profile">
        <div class="setting-icon grey-icon">
            <ion-icon name="person-sharp"></ion-icon>
        </div>
        <div class="setting-header">
            Изменить профиль
        </div>
    </a>

    <a class="setting-box {% if box == 'settings' %} active {% endif %}" href="/profile/settings">
        <div class="setting-icon grey-icon">
            <ion-icon name="settings-sharp"></ion-icon>
        </div>
        <div class="setting-header">
            Настройки
        </div>
    </a>

    <a class="setting-box">
        <div class="setting-icon grey-icon">
            <ion-icon name="star-sharp"></ion-icon>
        </div>
        <div class="setting-header">
            Избранное
        </div>
    </a>
    {% endif %}
</div>